table {
  width: 350px;
  height: 150px;
  border-collapse: collapse;
  background-color: white;
}

th, td {
  border: 2px solid darkred;
  padding: 8px;
  text-align: center;
}

th {
  background-color: darkred;
  color: white;
}

tr:hover {
  background-color: lightgray;
}

.project {
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.color {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: black;
}
